.link-text {
	top: 320px;
	left: 130px;
	position: absolute;
	color: #fff;
	font-size: 43px;
}

#primary-content header,
#main-replacement header {
	height: 400px;
	width: 100%;
	background-repeat: no-repeat;
	background-size: 120%;
}

.unbound {
	overflow: hidden;
}