.link-text {
	top: 320px;
	left: 130px;
	position: absolute;
	color: #fff;
	font-size: 43px;
}

#primary-content header,
#main-replacement header {
	height: 600px;
	width: 100%;
	background-repeat: no-repeat;
	background-size: 120%;
}

.unbound {
	overflow: hidden;
}

#move-cook-left {
	position: relative;
}

#move-cook-left .bg-move {
	position: absolute;
	top:0;
	left:-50px;
	width: 115%;
	height: auto;
}