@charset "UTF-8";

body {
	color: #5e6a71;
	background-repeat: no-repeat;
	background-position: center top;
	background-color: #fff;
	font: 15px/25px "Open Sans", Helvetica, "Lucida Sans", Geneva, Verdana, sans-serif;
	font-weight: 300;
}

a {
	text-decoration: none;
	color: #981e32
}
a:hover {
	color: #c60c30
}
b, strong {
	font-weight: 700
}
em, i {
	font-style: italic
}

h1, h2, h3, h4, h5, h6 {
	margin: 0 0 3px;
	line-height: 1.25em;
	letter-spacing: 0;
	font-weight: 300;
	color:#383d42;
}
h1 {
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 6em;
	line-height:.9em;
	padding: 0 0 .2em;
	text-transform:uppercase;
	font-weight:700 !important;
	color:#fff;
}
h2 {
	font-size: 2.8em;
	margin: 0;
	padding: .75em 0 .5em
}
h3 {
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 1.75em;
	margin: 0;
	padding: .75em 0 .5em;
	text-transform:uppercase;
	font-weight:300 !important;
	color:#00a5bd;
}
h4 {
	font-size: .9em;
	margin: 0;
	padding: .5em 0 .2em;
	text-transform:uppercase;
	font-weight:700;
}
h5 {
	font-size: 1.2em;
	margin: 0;
	padding: .5em 0 .2em
}
h6 {
	font-size: 1em;
	margin: 0;
	padding: .5em 0 .2em
}
p {
	margin: 0;
	padding-bottom: .8em;
	font-weight: 300;
}

.feature, .feature2{
	background-color:#000;
	height: 600px;
	width:100%;
	padding:0;
	color:#fff;
	background: url(../images/cook1.jpg) 0% 50% no-repeat;
	background-size: 100% auto;
}

.feature2{
	color:#fff;
	background: url(../images/dinner1.jpg) 50% 50% no-repeat;
	background-size: 100% auto;
}

.center{
	text-align:center;
}

.pic{
	width:100%;
	max-width:500px;
	padding:1.5em 0;
	}
	
.picPH{
	padding: 0 0 1.5em;
}

.top200{
	margin-top:150px;
}

.prlx{
	min-height: 600px;
	width:100%;
	padding:0 0 300px 0;
	background: url(../images/cook2.jpg) 0% 50% no-repeat;
	background-size: 120% auto;
}

.blue{
	color:#00a5bd;
	font-weight:700 !important;
}
.grey-dark{
	color:#383d42;
	font-weight:700 !important;

}
.large{
	font-size:1.125rem;
	line-height:1.5rem;
	font-weight:300 !important;
}

.topped{
	diplay:block;
	padding-bottom:20px;
	margin: 20px 30px 0;
	font-size:.8em;
	font-weight:300px;
	text-transform:uppercase;
}

/*  GRID COLUMN SETUP   ============================================================================= */

.hold {
	width: 95%;
	margin-top: 0px;
	padding: 10px 40px 0;
}
.hold-line {
	width: 100%;
}
.hold-top {
	width: 100%;
	margin-top: 80px;
}

.col {
	display: block;
	float: left;
	margin: 1% 0 1% 3.5%;
}
.col:first-child {
	margin-left: 0;
} /* all browsers except IE6 and lower */


/*  REMOVE MARGINS AS ALL GO FULL WIDTH AT 480 PIXELS */

@media screen and (max-width: 480px) {
.col {
	margin: 1% 0 1% 0%;
}
}


/*  GRID OF TWO   ============================================================================= */


.col_2-2 {
	width: 100%;
}
.col_1-2 {
	width: 48.25%;
}


/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

@media screen and (max-width: 480px) {
.col_2-2 {
	width: 100%;
}
.col_1-2 {
	width: 100%;
}
}


/*  GRID OF THREE   ============================================================================= */
	
.col_3-3, .col_3-3a {
	width: 100%;
}
.col_2-3, .col_2-3a {
	width: 65.5%;
}
.col_1-3, .col_1-3a, .col_1-3rd {
	width: 31%;
}
.col_1-3a, .col_2-3a, .col_3-3a, .col_1-3rd {
	padding-top: 40px;
}


/*  GO FULL WIDTH AT LESS THAN 640 PIXELS */

@media screen and (max-width: 770px) {
.col_3-3 {
	width: 95%;
	padding: 0;
	float: left;
	margin: 1% 0;
}
.col_2-3 {
	width: 95%;
	padding: 0;
	float: left;
	margin: 1% 0;
}
.col_1-3, .col_1-3rd {
	width: 95%;
	float: left;
	margin: 1% 0;
}
.col_1-3a, .col_2-3a, .col_3-3a, .col_1-3rd {
	padding-top: 20px;
}

}


/*  GRID OF FOUR   ============================================================================= */

	
.col_4-4, .col_4-4a {
	width: 100%;
}
.col_3-4, .col_3-4a {
	width: 74.15%;
}
.col_2-4, .col_2-4a {
	width: 48.2%;
}
.col_1-4, .col_1-4a {
	width: 22.35%;
	display: table-column;
}
.col_1-4a, .col_2-4a, .col_3-4a, .col_4-4a {
	padding-top: 20px;
}


/*  GO FULL WIDTH AT LESS THAN 640 PIXELS */

@media screen and (max-width: 810px) {
.col_4-4 {
	width: 100%;
}
.col_3-4 {
	width: 48.25%;
}
.col_2-4 {
	width: 100%;
	padding-top: 40px;
	margin: 1% 0;
}
.col_1-4 {
	width: 48.25%;
	padding-top: 40px;
}
.col.col_1-4:nth-child(2n+1) {
	margin-left: 0;

}.col.col_1-4a:nth-child(2n+1) {
	margin-left: 0;
}
.col_1-4a, .col_2-4a, .col_3-4a, .col_4-4a {
	padding-top: 10px;
	padding-left:0;
	width: 95%;
	margin-left: -10px;
}
}



/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

@media screen and (max-width: 480px) {
.col_4-4 {
	width: 100%;
}
.col_3-4 {
	width: 100%;
}
.col_2-4 {
	width: 100%;
}
.col_1-4 {
	width: 100%;
}
}


/*  GRID OF SIX   ============================================================================= */


.col_6-6 {
	width: 100%;
}
.col_5-6 {
	width: 82.75%;
}
.col_4-6 {
	width: 65.5%
}
.col_3-6 {
	width: 48.25%;
}
.col_2-6 {
	width: 31%;
}
.col_1-6 {
	width: 13.75%;
}



/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

@media screen and (max-width: 480px) {
.col_6-6 {
	width: 100%;
}
.col_5-6 {
	width: 100%;
}
.col_4-6 {
	width: 100%;
}
.col_3-6 {
	width: 100%;
}
.col_2-6 {
	width: 100%;
}
.col_1-6 {
	width: 100%;
}
}

/*  SVG Bar Graph   ============================================================================= */

.nvd3 .nv-multibar .nv-groups rect,
.nvd3 .nv-multibarHorizontal .nv-groups rect,
.nvd3 .nv-discretebar .nv-groups rect {
  stroke-opacity: 0;
  fill:#F3874B;
  transition: fill-opacity 250ms linear;
  -moz-transition: fill-opacity 250ms linear;
  -webkit-transition: fill-opacity 250ms linear;
}
.nvd3 .nv-multibar .nv-groups rect:hover,
.nvd3 .nv-multibarHorizontal .nv-groups rect:hover,
.nvd3 .nv-discretebar .nv-groups rect:hover {
  fill-opacity: 1;
}
.nvd3 .nv-discretebar .nv-groups text,
.nvd3 .nv-multibarHorizontal .nv-groups text {
  font-weight: normal;
  fill: #5E6A71;
  stroke: #5E6A71;
}
.nv-legendWrap {
  pointer-event:none;
}/********************
 * SVG CSS
 */
svg {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  /* Trying to get SVG to act like a greedy block in all browsers */
  display: block;

}
svg text {
  font: normal 10px #5E6A71;
  padding:8px;
}
svg .title {
 font: bold 10px #5E6A71;
}
.nvd3 .nv-background {
  fill: white;
  fill-opacity: 0;
  /*
  pointer-events: none;
  */
}
.nvd3.nv-noData {
  font-size: 10px;
  font-weight: normal;
}
/**********
*  Brush
*/
.nv-brush .extent {
  fill-opacity: .125;
  shape-rendering: crispEdges;
}
/**********
*  Legend
*/
.nvd3 .nv-legend .nv-series {
  cursor: pointer;
  font-size:.875em;
}
.nvd3 .nv-legend .disabled circle {
  fill-opacity: 0;
}
/**********
*  Axes
*/
.nvd3 .nv-axis {
  pointer-events:none;
}

.nvd3 .nv-axis path {
  fill: none;
  stroke: #5E6A71;
  stroke-opacity: .75;
  shape-rendering: crispEdges;
}
.nvd3 .nv-axis path.domain {
  stroke-opacity: .75;
}
.nvd3 .nv-axis.nv-x path.domain {
  stroke-opacity: 0;
}
.nvd3 .nv-axis line {
  fill: none;
  stroke: #5E6A71;
  shape-rendering: crispEdges;
}
.nvd3 .nv-axis .zero line,
/*this selector may not be necessary*/ .nvd3 .nv-axis line.zero {
  stroke-opacity: .75;
}
.nvd3 .nv-axis .nv-axisMaxMin text {
  font-weight: normal;
}
.nvd3 .x  .nv-axis .nv-axisMaxMin text,
.nvd3 .x2 .nv-axis .nv-axisMaxMin text,
.nvd3 .x3 .nv-axis .nv-axisMaxMin text {
  text-anchor: middle
}
/**********
*  Brush
*/
.nv-brush .resize path {
  fill: #eee;
  stroke:#5E6A71;
}/********************
 * TOOLTIP CSS for SVG graphs
 */
.nvtooltip {
  position: absolute;
  background-color: rgba(255,255,255,1.0);
  padding: 1px;
  border: 1px solid rgba(0,0,0,.2);
  z-index: 10000;
  text-align: left;
  pointer-events: none;
  display:none; /* Display none turns off tooltips */
  white-space: nowrap;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/* Give tooltips that old fade in transition by
    putting a "with-transitions" class on the container div.
*/
.nvtooltip.with-transitions, .with-transitions .nvtooltip {
  transition: opacity 250ms linear;
  -moz-transition: opacity 250ms linear;
  -webkit-transition: opacity 250ms linear;

  transition-delay: 250ms;
  -moz-transition-delay: 250ms;
  -webkit-transition-delay: 250ms;
}

.nvtooltip.x-nvtooltip,
.nvtooltip.y-nvtooltip {
  padding: 8px;
}
.nvtooltip h3 {
  margin: 0;
  padding: 4px 12px;
  line-height: 18px;
  font-weight: normal;
  background-color: rgba(247,247,247,0.75);
  text-align: center;

  border-bottom: 1px solid #ebebeb;
  -webkit-border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
}
.nvtooltip p {
  margin: 0;
  padding: 0 0;
  margin:0;
  text-align: center;
}
.nvtooltip span {
  display: inline-block;
  margin: 2px 0;
}
.nvtooltip table {
  margin: 6px;
  border-spacing:0;
}
.nvtooltip table td {
  padding: 2px 9px 2px 0;
  vertical-align: middle;
}

.nvtooltip table td.key {
  font-weight:normal;
}
.nvtooltip table td.value {
  text-align: right;
  font-weight: bold;
}
.nvtooltip table tr.highlight td {
  padding: 1px 9px 1px 0;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-top-style: solid;
  border-top-width: 1px;
}
.nvtooltip table td.legend-color-guide div {
  width: 8px;
  height: 8px;
  vertical-align: middle;
}
.nvtooltip .footer {
  padding: 3px;
  text-align: center;
}
.nvtooltip-pending-removal {
  position: absolute;
  pointer-events: none;
}
