@charset "UTF-8";

body {
	color: #5e6a71;
	background-repeat: no-repeat;
	background-position: center top;
	background-color: #fff;
	font: 16px/26px "Open Sans", Helvetica, "Lucida Sans", Geneva, Verdana, sans-serif;
	font-weight: 300;
}

a {
	text-decoration: none;
	color: #981e32
}
a:hover {
	color: #c60c30
}
b, strong {
	font-weight: 700
}
em, i {
	font-style: italic
}

h1, h2, h3, h4, h5, h6 {
	margin: 0 0 3px;
	line-height: 1.25em;
	letter-spacing: 0;
	font-weight: 300;
	color:#383d42;
}
h1 {
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 6em;
	line-height:.9em;
	padding: 0 0 .2em;
	text-transform:uppercase;
	font-weight:700 !important;
	color:#fff;
}
h2 {
	font-size: 2.8em;
	margin: 0;
	padding: .75em 0 .5em
}
h3 {
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 1.75em;
	margin: 0;
	padding: .75em 0 .5em;
	text-transform:uppercase;
	font-weight:300 !important;
	color:#00a5bd;
}
h4 {
	font-size: .9em;
	margin: 0;
	padding: .5em 0 .2em;
	text-transform:uppercase;
	font-weight:700;
}
h5 {
	font-size: 1.2em;
	margin: 0;
	padding: .5em 0 .2em
}
h6 {
	font-size: 1em;
	margin: 0;
	padding: .5em 0 .2em
}
p {
	margin: 0;
	padding-bottom: .8em;
	font-weight: 300;
	color:#474848;
}

.feature, .feature2{
	background-color:#000;
	height: 650px;
	width:100%;
	padding:0;
	color:#fff;
	background: url(../images/cook1.jpg) 0% 50% no-repeat;
	background-size: 100% auto;
}

.feature2{
	color:#fff;
	background: url(../images/dinner1.jpg) 50% 50% no-repeat;
	background-size: 100% auto;
}

.center{
	text-align:center;
}

.pic{
	width:100%;
	max-width:500px;
	padding: 0 0;
	margin-bottom: 1.5em;
}
	
.picPH{
	padding: 1.5em 0;
}

.top200{
	margin-top:150px;
}
.top50{
	margin-top:50px;
}

.prlx{
	min-height: 600px;
	width:100%;
	padding:0 0 300px 0;
}

.blue{
	color:#00a5bd;
	font-weight:700 !important;
}
.grey-dark{
	color:#383d42;
	font-weight:700 !important;

}
.white{
	color:#fff;
}
.large{
	font-size:1.35rem;
	line-height:1.75rem;
	font-weight:300 !important;
	color:#fff;
}

.topped{
	diplay:block;
	padding-bottom:20px;
	margin: 20px 30px 0;
	font-size:.8em;
	font-weight:300px;
	text-transform:uppercase;
}
.related{
	padding:7em 0 1em 2em;
	font-weight:300;
	text-transform:uppercase;
	font-size:.8em;
}
.recto{
	color:#fff;
}
.more-bottom{
	margin-bottom:40px;
}

em{
	font-weight:300;
	padding:0;
	margin:0;
	line-height:0;
}



/*  SVG Bar Graph   ============================================================================= */
#chart1-container .chart {
	margin-left:auto;
	margin-right:auto;
	display:block;
	width:100%;
}

.nvd3 .nv-multibar .nv-groups rect,
.nvd3 .nv-multibarHorizontal .nv-groups rect,
.nvd3 .nv-discretebar .nv-groups rect {
  stroke-opacity: 0;
  fill:#00a5bd;
  transition: fill-opacity 250ms linear;
  -moz-transition: fill-opacity 250ms linear;
  -webkit-transition: fill-opacity 250ms linear;
}
.nvd3 .nv-multibar .nv-groups rect:hover,
.nvd3 .nv-multibarHorizontal .nv-groups rect:hover,
.nvd3 .nv-discretebar .nv-groups rect:hover {
  fill-opacity: 1;
}
.nvd3 .nv-discretebar .nv-groups text,
.nvd3 .nv-multibarHorizontal .nv-groups text {
  font-weight: normal;
  fill: #5E6A71;
  stroke: #5E6A71;
}
.nv-legendWrap {
  pointer-event:none;
}/********************
 * SVG CSS
 */
svg {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  /* Trying to get SVG to act like a greedy block in all browsers */
  display: block;

}
svg text {
  font: normal 10px #5E6A71;
  padding:8px;
}
svg .title {
 font: bold 10px #5E6A71;
}
.nvd3 .nv-background {
  fill-opacity: 0;
  /*
  pointer-events: none;
  */
}
.nvd3.nv-noData {
  font-size: 10px;
  font-weight: normal;
}
/**********
*  Brush
*/
.nv-brush .extent {
  fill-opacity: .125;
  shape-rendering: crispEdges;
}
/**********
*  Legend
*/
.nvd3 .nv-legend .nv-series {
  cursor: pointer;
  font-size:.875em;
}
.nvd3 .nv-legend .disabled circle {
  fill-opacity: 0;
}
/**********
*  Axes
*/
.nvd3 .nv-axis {
  pointer-events:none;
}

.nvd3 .nv-axis path {
  fill: none;
  stroke: #5E6A71;
  stroke-opacity: .75;
  shape-rendering: crispEdges;
}
.nvd3 .nv-axis path.domain {
  stroke-opacity: .75;
}
.nvd3 .nv-axis.nv-x path.domain {
  stroke-opacity: 0;
}
.nvd3 .nv-axis line {
  fill: none;
  stroke: #5E6A71;
  shape-rendering: crispEdges;
}
.nvd3 .nv-axis .zero line,
/*this selector may not be necessary*/ .nvd3 .nv-axis line.zero {
  stroke-opacity: .75;
}
.nvd3 .nv-axis .nv-axisMaxMin text {
  font-weight: normal;
}
.nvd3 .x  .nv-axis .nv-axisMaxMin text,
.nvd3 .x2 .nv-axis .nv-axisMaxMin text,
.nvd3 .x3 .nv-axis .nv-axisMaxMin text {
  text-anchor: middle
}
/**********
*  Brush
*/
.nv-brush .resize path {
  fill: #eee;
  stroke:#5E6A71;
}/********************
 * TOOLTIP CSS for SVG graphs
 */
.nvtooltip {
  position: absolute;
  background-color: rgba(255,255,255,1.0);
  padding: 1px;
  border: 1px solid rgba(0,0,0,.2);
  z-index: 10000;
  text-align: left;
  pointer-events: none;
  display:none; /* Display none turns off tooltips */
  white-space: nowrap;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/* Give tooltips that old fade in transition by
    putting a "with-transitions" class on the container div.
*/
.nvtooltip.with-transitions, .with-transitions .nvtooltip {
  transition: opacity 250ms linear;
  -moz-transition: opacity 250ms linear;
  -webkit-transition: opacity 250ms linear;

  transition-delay: 250ms;
  -moz-transition-delay: 250ms;
  -webkit-transition-delay: 250ms;
}

.nvtooltip.x-nvtooltip,
.nvtooltip.y-nvtooltip {
  padding: 8px;
}
.nvtooltip h3 {
  margin: 0;
  padding: 4px 12px;
  line-height: 18px;
  font-weight: normal;
  background-color: rgba(247,247,247,0.75);
  text-align: center;

  border-bottom: 1px solid #ebebeb;
  -webkit-border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
}
.nvtooltip p {
  margin: 0;
  padding: 0 0;
  margin:0;
  text-align: center;
}
.nvtooltip span {
  display: inline-block;
  margin: 2px 0;
}
.nvtooltip table {
  margin: 6px;
  border-spacing:0;
}
.nvtooltip table td {
  padding: 2px 9px 2px 0;
  vertical-align: middle;
}

.nvtooltip table td.key {
  font-weight:normal;
}
.nvtooltip table td.value {
  text-align: right;
  font-weight: bold;
}
.nvtooltip table tr.highlight td {
  padding: 1px 9px 1px 0;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-top-style: solid;
  border-top-width: 1px;
}
.nvtooltip table td.legend-color-guide div {
  width: 8px;
  height: 8px;
  vertical-align: middle;
}
.nvtooltip .footer {
  padding: 3px;
  text-align: center;
}
.nvtooltip-pending-removal {
  position: absolute;
  pointer-events: none;
}

/* Parallax and Medium page load effect */
.link-text {
	top: 320px;
	left: 130px;
	position: absolute;
	color: #fff;
	font-size: 43px;
}

#primary-content header,
#main-replacement header {
	height: 600px;
	width: 100%;
	background-repeat: no-repeat;
	background-size: 120%;
}

#primary-content header {
	height: auto;
}

#main-replacement header {
	background-size: 100%;
	height: auto;
}

.unbound {
	overflow: hidden;
}

#move-cook-left {
	position: relative;
}

#move-cook-left .bg-move {
	position: absolute;
	/*padding-top:100px;*/
	top:0;
	left:-70px;
	width: 115%;
	height: auto;
}
.smoke{
	background-image:url(../images/smoke.png);
	background-repeat:no-repeat;
	position:absolute;
	width:100%;
	-webkit-animation: movesmoke 15s linear infinite;
	-moz-animation: movesmoke 15s linear infinite;
	-o-animation: movesmoke 15s linear infinite;
}
.smoke2{
	background-image:url(../images/smoke2.png);
	background-repeat:no-repeat;
	position:absolute;
	width:100%;
	-webkit-animation: movesmoke2 25s linear infinite;
	-moz-animation: movesmoke2 25s linear infinite;
	-o-animation: movesmoke2 25s linear infinite;
}
@-webkit-keyframes movesmoke {
	0% {margin-top: 2000px;}
	100% {margin-top: -1000px;}
}
@-moz-keyframes moveclouds {
	0% {margin-top: 2000px;}
	100% {margin-top: -1000px;}
}
@-o-keyframes moveclouds {
	0% {margin-top: 2000px;}
	100% {margin-top: -1000px;}
}
@-webkit-keyframes movesmoke2 {
	0% {margin-top: 2600px;}
	100% {margin-top: -1000px;}
}
@-moz-keyframes moveclouds2 {
	0% {margin-top: 2600px;}
	100% {margin-top: -1000px;}
}
@-o-keyframes moveclouds {
	0% {margin-top: 26002px;}
	100% {margin-top: -1000px;}
}